@font-face {
    font-family: EpicFont;
    src: url(/fonts/BebasNeue-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: EpicFont, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100vw;
    padding: 10px 30px;
    background-color: white;
    justify-content: space-between;
    height: 93px;
    border-bottom: 1px solid grey;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul img {
    width: 200px;
}

nav a {
    font-size: 13px;
    padding: 15px;
    text-decoration: none;
    color: black;
    vertical-align: -25;
}

nav i {
    size: 100px;
    padding: 15px;
    color: black;
    vertical-align: -25;
}

nav a:hover {
    color: #6A0DAD;
}

.div-top {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: black;
    padding-top: 10px;
    font-size: 14px;
    height: 38px;
}

.div-top-text {
    color: white;
    font-weight: 700;
}

.div-top-icon {
    display: flex;
    color: gray;
    justify-content: space-evenly;
}

.main-image-size {
    width: 100vw;
    object-fit: cover;
}

.top-background-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: white;
    padding: 75px 20px 0;
    grid-gap: 20px;

}

.top-background-item {
    height: 650px;
}

.image-first {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

.title {
    text-align: center;
    padding: 50px 0;
    font-size: 39px;
}

.category-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    background-color: white;
    grid-column-gap: 20px;
    padding-bottom: 100px;
    /*position: relative;*/
}

.category-item {
    cursor: pointer;
    height: 500px;
    transition: transform .2s;
}

.category-item__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 333px;
    cursor: pointer;
    position: relative;
    height: 500px;
    transition: transform .2s;
}

.category-item__image {
    height: 500px;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*bottom: 0;*/
    /*right: 0;*/
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

.list-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    background-color: white;
    grid-column-gap: 10px;
    padding-bottom: 100px;
    /*position: relative;*/
}

.list-item__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 460px;
    position: relative;
    height: 650px;
    transition: transform .2s;
}

.list-item__image {
    height: 650px;
    position: absolute;
    top: 0;
    left: 0;
    /*bottom: 0;*/
    /*right: 0;*/
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

.list-item__text {
    position: relative;
    width: 100%;
    top: 53%;
    z-index: 1;
    text-align: left;
}

.list-item__image:hover {
    cursor: pointer;
}

.category-item__text {
    position: relative;
    width: 100%;
    top: 6px;
    padding-top: 4%;
    z-index: 1;
    text-align: center;

}

.top {
    background-color: white;
    height: 50px;
    width: 130px;
}

.bottoms {
    background-color: white;
    height: 50px;
    width: 180px;
}

.dress {
    background-color: white;
    height: 50px;
    width: 210px;
}

.shorts {
    background-color: white;
    height: 50px;
    width: 80px;
}

.category-item:hover, .category-item__container:hover {
    transform: scale(1.05);
}

.center {
    justify-content: center;
    text-align: center;
}

.padding-vacay {
    padding: 100px 0 10px;
    font-size: 39px;
}

.padding-vacay2 {
    padding-bottom: 35px;
}

.style-button {
    background-color: white;
    width: 110px;
    height: 40px;
    border: 1px solid #c6bbce;
    letter-spacing: 5px;
}

.style-button:hover {
    cursor: pointer;
}

.hero__media-container {

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

.footer {
    height: 100px;
    background-color: dimgray;
}

.item-category {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
}

.title-category {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding: 50px 30px;
    font-size: 39px;
}

.price {
    text-align: right;
}